<!DOCTYPE html>
<html lang="de-DE" dir="ltr">
	<head>
		<title>{{title}}</title>
		<style type="text/css">
			{{css}}
			body {margin:2em}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>
		{{webitem}}
	</body>
</html>