<!DOCTYPE html>
<html lang="de-DE" dir="ltr">
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.6.6/dist/terminal.min.css" />
	</head>
	
	<body>
		{{webitem}}
	</body>
</html>